@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


.museoModerno{
    font-family: MuseoModerno;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeScale {
    0%{
        opacity: 0;
        translate: scale(0.95);
    }
    100%{
        opacity: 1;
        translate: scale(1);
    }
}
@keyframes bounce {
    0%{

        translate: translateY(-20px);
    }
    100%{

        translate: translateY(0);
    }
}

.fade-in{
    animation: fadeIn 1s ease-out forwards;
}
.fade-scale{
    animation: fadeScale 0.7s ease-out forwards;
}
.bounce-slow{
    animation: bounce 2s infinite;
}

.scrollbar-thin::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(122, 135, 154, 0.434); /* slate-500 */
    border-radius: 9999px;
  }

.scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 116, 139, 0.6) transparent;
  }